{% extends "login_layout.html" %}

{% load static %}

{% block title %}{% if hidden %}Hidden Notes{% else %}Notes List{% endif %} | Wisdom WareHouse{% endblock %}

{% block content %}
  <div class="container py-5">
    {% if notes %}
      <div class="masonry">{% include "notes/note_list.html" %}</div>
    {% else %}
      <div class="text-center text-muted py-4">No notes yet.</div>
    {% endif %}
  </div>
{% endblock %}

{% block footer %} {% if notes|length > 1 %} {# normal footer #} {% else %}fixed-bottom{% endif %} {% endblock %}
